/* Base */
* {
  padding: 0;
  margin: 0; }

body {
  background: url(../images/pinstripes.png) 50% 0 repeat fixed; }

body, p, a {
  color: #97b1c6;
  font-family: 'bitter', serif;
  font-size: 18px;
  line-height: 1.3em;
  text-shadow: 1px 1px 1px #000;
  -webkit-font-smoothing: antialiased; }

a,
a:link,
a:visited,
a:active {
  color: #80d7fc;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* Typography */
@font-face {
  font-family: 'headline';
  src: url("../fonts/headoh__-webfont.eot");
  src: url("../fonts/headoh__-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/headoh__-webfont.woff") format("woff"), url("../fonts/headoh__-webfont.ttf") format("truetype"), url("../fonts/headoh__-webfont.svg#headline_onehplhs") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bitter';
  src: url("../fonts/bitter-regular-webfont.eot");
  src: url("../fonts/bitter-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bitter-regular-webfont.woff") format("woff"), url("../fonts/bitter-regular-webfont.ttf") format("truetype"), url("../fonts/bitter-regular-webfont.svg#bitterregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: 'headline', san-serif;
  font-size: 150px;
  line-height: 1.1em;
  color: #bac9d5;
  text-shadow: -2px -2px 0px #000;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

h1 .kerning-fix {
  letter-spacing: -11px; }

.sub-head {
  font-family: 'bitter', serif;
  font-size: 27px;
  line-height: 1;
  color: #87cce9;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: -2px -2px 0px #000;
  -webkit-font-smoothing: antialiased; }

.headline {
  font-family: 'headline', sans-serif;
  line-height: 1.1em;
  color: #47788c;
  -webkit-font-smoothing: antialiased; }

.big-headline {
  font-size: 48px; }

.small-headline {
  font-size: 37px; }

.aside {
  vertical-align: top;
  line-height: 2.7em; }

.highlight {
  color: #97b1c6; }

/* Utilities */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.splash {
  background: url(../images/light.png) center -5px no-repeat;
  padding-bottom: 70px;
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
 }

.splash section { width:100%; }

.bio {
  margin: 20px auto 30px;
  display: inline-flex;
  align-items: center;}

.bio-img img {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  border: solid 8px rgba(0, 0, 0, 0.15);
  display: block;}

.bio-content {
  padding-left: 20px;
  padding-right: 20px;
  width: 300px; }

/* Social Icons */
.social-links {
  margin-top: 15px; }

.social-links > li {
  display: inline; }

.social-icon {
  background-size: 405px;
  width: 59px;
  height: 60px;
  display: inline-block;
  background-image: url(../images/social-sprite.png);
  -webkit-transition: background .3s ease-out;
  -moz-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
  transition: background .3s ease-out; }

.social-icon.linkedin {
  background-position: 0 0; }

.social-icon.linkedin:hover {
  background-position: 0 -61px; }

.social-icon.github {
  background-position: 339px 0; }

.social-icon.github:hover {
  background-position: 339px -61px; }

.social-icon.twitter {
  background-position: 270px 0; }

.social-icon.twitter:hover {
  background-position: 270px -61px; }

.social-icon.instagram {
  background-position: 67px 0; }

.social-icon.instagram:hover {
  background-position: 67px -61px; }

.social-icon.dribbble {
  background-position: 204px 0; }

.social-icon.dribbble:hover {
  background-position: 204px -61px; }

.social-icon.email {
  background-position: 135px 0; }

.social-icon.email:hover {
  background-position: 135px -61px; }

.banner {
  z-index: 1;
  height: 60px;
  width: 675px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.banner:before,
.banner:after {
  z-index: -1;
  content: "";
  display: block;
  top: 0;
  position: absolute;
  border-top: 30px solid rgba(0, 0, 0, 0.25);
  border-bottom: 30px solid rgba(0, 0, 0, 0.25);
}

.banner:before {
  right: 100%;
  margin-right: 0;
  border-right: 30px solid rgba(0, 0, 0, 0.25);
  border-left: 25px solid transparent;
}

.banner:after {
  left: 100%;
  margin-left: 0;
  border-left: 30px solid rgba(0, 0, 0, 0.25);
  border-right: 25px solid transparent;
}



